{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gluten Free</title>
</head>
<body>
        <h1>Gluten Free</h1>
        
         <div class="menu-style">
        {% for item in items %}
            <p> 
                {{ item.name }} - £{{ item.price }}
            </p>
        {% endfor %}
        </div>
</body>
</html>