<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Jorliveroo</title>
</head>
<body>
    
    <div class = "menubuttons">
        <h1>Jorliveroo</h1>
        
            <button>Pasta</button>
            <button>Pizza</button>
            <button>Burgers</button>
            <button>Fish</button>
            <button>Soup</button>
            <button>Sides</button>
            <button>Curry</button>
            <button>Vegan</button>
            <button>Gluten Free</button>
            <button>Saver Menu</button>
            <button>Desserts</button>
            <button>Kids Menu</button>


    </div>
</body>
</html>