<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Jorliveroo</title>
</head>
<body>
     <h1>Jorliveroo</h1>
    <div class = "menubuttons">

            <a href="/pasta/">
            <button>Pasta</button>
            </a>

            <a href="/pizza/">
            <button>Pizza</button>
            </a>

            <a href="/burgers/">
            <button>Burgers</button>
            </a>

            <a href="/fish/">
            <button>Fish</button>
            </a>

            <a href="/soup/">
            <button>Soup</button>
            </a>
            
            <a href="/sides/">
            <button>Sides</button>
            </a>

            <a href="/curry/">
            <button>Curry</button>
            </a>

            <a href="/vegan/">
            <button>Vegan</button>
            </a>

            <a href="/gluten free/">
            <button>Gluten Free</button>
            </a>

            <a href="/saver menu/">
            <button>Saver Menu</button>
            </a>

            <a href="/desserts/">
            <button>Desserts</button>
            </a>

            <a href="/kids menu/">
            <button>Kids Menu</button>
            </a>


    </div>
</body>
</html>