{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Jorliveroo</title>
</head>
<body>
     <h1>Jorliveroo</h1>
    <div class = "menubuttons">

            <a href="{% url 'pasta' %}">
            Pasta
            </a>

              <a href="{% url 'pizza' %}">
            Pizza
            </a>

            <a href="{% url 'burgers' %}">
            Burgers
            </a>

              <a href="{% url 'fish' %}">
            Fish
            </a>

              <a href="{% url 'soup' %}">
            Soup
            </a>
            
              <a href="{% url 'sides' %}">
            Sides
            </a>

              <a href="{% url 'curry' %}">
            Curry
            </a>

              <a href="{% url 'vegan' %}">
            Vegan
            </a>

              <a href="{% url 'gluten_free' %}">
            Gluten Free
            </a>

              <a href="{% url 'saver_menu' %}">
            Saver Menu
            </a>

              <a href="{% url 'desserts' %}">
            Desserts
            </a>

              <a href="{% url 'kids_menu' %}">
            Kids Menu
            </a>


    </div>
</body>
</html>