{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket Page</title>
</head>
<body>
    <!-- Once pressed, the order confirmation appears on the page-->
    {% if checked_out %}
    <h1> Your order has been confirmed!</h1>
    <p>Address:{{ address }}</p>
    <p>Telephone Number: {{ phone }}</p>
    <p> Your order will be at your door in 30 minutes!</p>
    {% else %}
    <h1>Thank you for shopping with Jorliveroo!</h1>
    <!-- Displays all of the items that the customer has selected-->

    {% for item in items %}
   <p> {{ item.name }} - £{{ item.price }} </p>
   <form method="post">
    {% csrf_token %}
    <input type="hidden" name="remove_item" value="{{ item.id }}">
    <input type="submit" value="Remove">
   </form>
   <form method="post">
        {% csrf_token %}
    <input type="hidden" name ="add_item" value="{{ item.id }}">
    <input type="submit" value="+1">

   </form>
    {% endfor %}
    <!-- When items are selected, the total price will be displayed here -->

    <p>Total Price: £{{ total }}</p>
    <!-- A section to allow the customer to enter their details before checking out-->

        <form method="post">
        {% csrf_token %}
        <input type="text" name="address" placeholder="Home Address" required>
        <input type="text" name="phone" placeholder="Mobile Number" required>
        <input type="text" name="card" placeholder="Card number" required>
        <input type="submit" name="checkout" value="Checkout">
    </form>
     <form method="post">
    {% csrf_token %}
    <input type="submit" value="Clear ">
    </form>
    <a href="{% url 'menu' %}" class= "backtomenubutton">
            Main Menu
            </a>
    {% endif %}
</body>
</html>