/* Used to style the main category buttons*/
.menubuttons a {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width:120px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    cursor: pointer;

}

/* Used to create the grid for the buttons*/
.menubuttons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:15px;
    width: fit-content;
    justify-content: center;
    margin: 140px auto 0 auto;
}

/* Used to style the main background of the page */

body {
     text-align: center;
     background-color: #deb887;
}

.menubuttons a:hover {
    background-color: grey;
    color: black;
}

.backtomenubutton{
    background-color: navy;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width:120px;
    text-decoration: none;
    display: block;

}

.backtomenubutton:hover{
    background-color: gray;
}

@media screen and (max-width:768px){
.menubuttons{
    grid-template-columns: auto;
}    
}